$parallax-height: 100vh;
$center-margin: 0px auto;
@mixin cover {
    
    
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: Roboto;
    color: #2e3738;
}

#landscape {
    width: 100%;
    height: 100vh;
    perspective: 1px;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;

}

#monkeys {
    width: 100%;
    height: 100vh;
    perspective: 1px;
    transform: translateZ(-1px);
    overflow-x: hidden;
    overflow-y: auto;

}

#landscape,
#monkeys {
    h1 {
        text-transform: uppercase;
        font-family: "Bitter", serif;
        letter-spacing: 0.06em;
        font-size: 120px;
        color: #fff;
        opacity: 0.7;
        text-align: center;
    }
}

p {
    width: 70%;
    padding: 5%;
    margin: 0px auto;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    line-height: 1.4;
}